.flex {
    display: flex;
}

/* 倒计时样式 */
.Time {
    /* width: 100%; */
}

.time-left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-right {
    width: 30%;
}

.time {
    width: 300px;
    height: 200px;
    color: white;
    min-height: 160px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.time1 {
    background-image: url('https://tuchuang.voooe.cn/images/2025/10/30/_20251030134520_14_96.jpg');
    background-position: 0% 34%;
    margin: 20px;
}

.time2 {
    background-image: url('https://tuchuang.voooe.cn/images/2025/11/02/ee75a21e8ff3b2a32a51718ae7f1e2e2.jpg');
    background-position: 0% 46%;
    margin: 20px;
}

.time3 {
    background-image: url('https://tuchuang.voooe.cn/images/2025/11/02/41564aca96a24a333577a2fbeeda6a33.jpg');
    width: 300px;
    background-position: 0% 46%;
    margin: 20px;
}

.time .mask {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .1);
}

.mask .date1 {
    font-size: 50px;
}

.mask .date2 {
    position: absolute;
    top: 97px;
    left: 205px;
    font-size: 18px;
}

.mask p {
    font-weight: 700;
    color: inherit;
    font-size: 19px;
}

.mask .left_top {
    position: absolute;
    top: 20px;
    left: 20px;
}

.mask .right_bottom {
    position: absolute;
    top: 150px;
    left: 140px;
}

.mask .right_bottom1 {
    left: 85px;
}

/* Gallery画廊页面一行显示更多 */
.time-gallery .gallery-group {
    width: calc(50% - 8px) !important;
}

@media screen and (max-width: 900px) {
    .time-right {
        width: 40%;
    }
}

/*更改背景功能手机适应 */
@media screen and (max-width: 600px) {

    /* 手机适配小屋倒计时 */
    .Time {
        flex-direction: column;
    }

    .time-right {
        width: 100%;
    }

    .time-gallery .gallery-group {
        width: calc(100% - 8px) !important;
    }
}