.bg-map {
    background-color: #333;
    width: 288px;
    height: 288px;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./map.webp) no-repeat -410px -80px;
}

.beijing {
    position: absolute;
    top: 148px;
    left: 136px;
    color: #fff;
}

.dotted {
    width: 8px;
    height: 8px;
    background-color: #09f;
    border-radius: 50%;
}

.beijing div[class^="pulse"] {
    /* 保证波纹在盒子中水平竖直居中 放大之后中心响四周发散*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    box-shadow: 0 0 12px #009dfd;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
}

.pulse2 {
    animation-delay: 0.6s !important;
}

.pulse3 {
    animation-delay: 1.2s !important;
}

@keyframes pulse {
    0% {}

    70% {
        width: 45px;
        height: 45px;
        opacity: 1;
    }

    100% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
}