* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?2ua1l4');
    src: url('fonts/icomoon.eot?2ua1l4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2ua1l4') format('truetype'),
        url('fonts/icomoon.woff?2ua1l4') format('woff'),
        url('fonts/icomoon.svg?2ua1l4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@keyframes huaru {
    0% {
        left: -65px;
    }

    100% {
        left: 0;
    }
}

@keyframes Slide {
    0% {
        left: 10px;
    }

    100% {
        left: 390px;
    }
}

@keyframes Color {
    0% {
        background-color: rgb(195, 200, 216);
    }

    100% {
        background-color: rgb(4, 190, 253);
    }
}

@keyframes COLOR {
    0% {
        background-color: rgb(4, 190, 253);
    }

    100% {
        background-color: rgb(195, 200, 216);
    }
}

body {
    background-color: rgb(225, 239, 255);
    /* background-color: rgb(247, 208, 215);
    background-color: rgb(202, 243, 223);
    background-color: rgb(216, 245, 253);
    background-color: rgb(241, 219, 255); */
}

.center {
    width: 550px;
    /* height: 90vh; */
    background-color: rgb(225, 239, 255);
    /* background-color: #fff; */
    text-align: center;
    margin: 30px auto 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgb(201, 198, 198), -5px -5px 10px #fff;
}

.task {
    width: 550px;
    height: 160px;
    font-size: 38px;
    color: rgb(4, 190, 253);
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}

.task-icon {
    font-family: 'icomoon';
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    line-height: 50px;
    font-size: 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(201, 198, 198), -5px -5px 10px #fff;
}

.today {
    display: inline-block;
}

.task p {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}

.new-task input {
    width: 420px;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgb(163, 176, 203);
    background-color: rgb(225, 239, 255);
    /* background-color: pink; */
    border-radius: 15px;
    padding-left: 15px;
    box-shadow: 5px 5px 15px rgb(219, 218, 218) inset, -5px -5px 10px #fff inset;
}

.new-task input::-webkit-input-placeholder {
    color: rgb(180, 188, 206);
}

.slide {
    position: relative;
    width: 420px;
    height: 30px;
    /* background-color: #fff; */
    margin: 30px 0 0 65px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 15px;
    background-color: rgb(225, 239, 255);
    box-shadow: 5px 5px 15px rgb(219, 218, 218), -5px -5px 10px #fff;
}

.slide-input {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(195, 200, 216);
    border-radius: 10px;
}


.todo-item {
    /* position: absolute; */
    position: relative;
    display: flex;
    background-color: rgb(225, 239, 255);
    left: 0px;
    width: 420px;
    height: 60px;
    line-height: 60px;
    box-shadow: 5px 5px 15px rgb(219, 218, 218), -5px -5px 10px #fff;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 65px;
    /* animation: huaru 1.3s cubic-bezier(.45, .03, .2, .94) 1; */
}

.left-item {
    font-family: 'icomoon';
    font-size: 30px;
    margin-left: 10px;
    color: rgb(4, 190, 253);
}

.center-item {
    flex: 10;
    font-size: 26px;
    text-align: left;
    margin-left: 15px;
    color: rgb(168, 182, 206);
}

.right-item {
    font-family: 'icomoon';
    font-size: 28px;
    margin-right: 10px;
    color: rgb(195, 200, 216);
}

footer {
    display: flex;
    width: 420px;
    margin: 25px 0 0 65px;
    padding-bottom: 80px;
}

.left-footer {
    flex: 2;
    font-size: 14px;
    color: rgb(168, 182, 206);
    padding-top: 3px;
}

/* .kong {
    flex: 3;
} */

footer button {
    /* flex: 1; */
    width: 50px;
    height: 25px;
    margin: 0 5px;
    color: rgb(168, 182, 206);
    border: none;
    border-radius: 5px;
    background-color: rgb(225, 239, 255);
    /* box-shadow: 5px 5px 15px rgb(219, 218, 218), -5px -5px 10px #fff; */
}

.right-footer {
    flex: 2;
    font-size: 14px;
    color: rgb(168, 182, 206);
    padding-top: 3px;
}

.right-footer:hover {
    color: rgb(4, 190, 253);
}

.todo-template {
    display: none;
}

.task-icon,
.left-item,
.right-item,
.right-footer {
    cursor: pointer;
}

.time-delay {
    flex: 10;
    margin-right: 10px;
}

.timing {
    flex: 5;
    display: inline-block;
    color: rgb(168, 182, 206);
}

#timing-list {
    color: rgb(168, 182, 206);
    outline: none;
    border-color: rgb(4, 190, 253);
    border-radius: 5px;
    /* background: none; */
}

.delayed {
    flex: 5;
    display: inline-block;
    color: rgb(168, 182, 206);
}

#delayed-list {
    color: rgb(168, 182, 206);
    outline: none;
    border-color: rgb(4, 190, 253);
    border-radius: 5px;
}